Output/
.vs/
*.sln
*.filters
*.vcxproj
*.user

Makefile
*.make

UCodeAPI/Win32/int/
UCodeAPI/Win32/out/

UCodeAPI/NWin32/int/
UCodeAPI/NWin32/out/

UCodeAPI/StandardLibrary/int/
UCodeAPI/StandardLibrary/out/

UCodeAPI/NStandardLibrary/int/
UCodeAPI/NStandardLibrary/out/

UCodeAPI/Example/int/
UCodeAPI/Example/out/

UCApp/src/CodeTesting/out/
UCApp/src/CodeTesting/int/

OutIR.txt

UCodeIDE/out.lib
UCodeIDE/out.data.c
UCodeIDE/imgui.ini
UCodeIDE/tepfiles/
UCodeIDE/int/
UCodeIDE/UCodeIDE/intDep.data

Dependencies/bin/inno

ARM64
/UCodeIDE/OutIR.txt
/UCodeIDE/src/AppObject/test2.uc
/UCodeIDE/out.data
/UCApp/OutIR.txt
/UCodeIDE/test.js
/UCodeIDE/test.js.out

.vscode