Output/
.vs/
.vscode/
*.sln
*.filters
*.vcxproj
*.user

Makefile

UCodeAPI/Win32/int/
UCodeAPI/Win32/out/

UCodeAPI/NWin32/int/
UCodeAPI/NWin32/out/

UCodeAPI/StandardLibrary/int/
UCodeAPI/StandardLibrary/out/

UCodeAPI/NStandardLibrary/int/
UCodeAPI/NStandardLibrary/out/



UCodeIDE/Out.lib
UCodeIDE/out.data.c
UCodeIDE/imgui.ini
UCodeIDE/tepfiles/
UCodeIDE/int/