.ModuleSectionLabelText
{
    text-align: center;
    color: white;
}
.topnav {
  overflow: hidden;
  text-align: center;
}  

.topnav input[type=text] {
  float:none;
  padding: 10px;
  border: none;
  font-size: 17px;
  width: 600px;
  border-radius: 20px;
}

.modulelist
{
    display: inline-block;
    margin: 0px 10px;
}

.modulelabelbox {
  border-radius: 20px;
  border-color: #FFFF;
  background: #1f6feb;
  padding: 20px;
  width: 200px;
  height: 80px;
}
.modulelabel {
    text-align: center;
    margin: auto;
    color: white;
    font-size: 20px;
}